version: "3.8"

services:
  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: pg_database
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: semantic_db
      TZ: Asia/Kolkata
    ports:
      - "5432:5432"
    volumes:
      - pgvector_data:/var/lib/postgresql/data

volumes:
  pgvector_data:
